<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Ground Floor"
            statTitle="29°C"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"
            
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="1st Floor"
            statTitle="25°C"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"
            statIconName="far fa-chart-bar"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="2nd Floor"
            statTitle="56°C"
            statArrow="down"
            statPercent="13.48"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="3rd Floor"
            statTitle="44°C"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Since yesterday"
           
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>

        <!-- statIconName="fas fa-users" -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 py-2">
          <app-card-stats
            statSubtitle="4th Floor"
            statTitle="35°C"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"            
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 py-2">
          <app-card-stats
            statSubtitle="5th Floor"
            statTitle="35°C"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"
            
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 py-2">
          <app-card-stats
            statSubtitle="6th Floor"
            statTitle="35°C"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"
            
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 py-2">
          <app-card-stats
            statSubtitle="Basement"
            statTitle="25°C"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last 5 Sec"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
